* {
  /* border: 1px solid #fff; */
}

body {
  background-color: #333;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

.converter__container {
  margin: 0.5em;
}

.converter__label {
  margin-right: 0.5em;
}

.converter__input {
  margin-right: 0.5em;
  width: 7em;
}

.converter__button {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  letter-spacing: 0%;
  text-align: center;

  background: #20a13a;
  border: 3px solid transparent;
  border-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5rem;
  padding: 0.63rem 2rem 0.63rem 2rem;
  margin: 1em 0;

  justify-self: center;
}

.btn:active {
  background-color: #177c2a;
  color: #9ea9a0;
}

.converter__label {
  font-size: 1.13rem;
  line-height: 1.69rem;
  order: 0;
}

.converter__input {
  background: rgba(57, 62, 70, 0.5);
  border-radius: 1rem;
  padding-left: 1.5rem;
  order: 1;

  color: #fff;
  font-size: 1.13rem;
  line-height: 1.69rem;
  text-align: center;
}

/* .converter__input:focus {
  border: 1px solid #00adb5;
} */

.converter__select {
  font-size: 1em;
  padding: 0.5em; /* Поля внутри элемента select */
  border-radius: 0.5em; /* Скругление углов */
  background-color: #333; /* Фоновый цвет */
  color: #fff; /* Цвет текста */
}

.converter__select option {
  background-color: #333; /* Фоновый цвет для опций */
  color: #fff; /* Цвет текста для опций */
}