* {
  /* border: 1px solid #fff; */
}

body {
  background-color: #333;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.converter {
  /* text-align: center; */
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.69rem;
  letter-spacing: 0%;
  text-align: center;

  background: #20a13a;
  border: 3px solid transparent;
  border-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5rem;
  padding: 0.63rem 2rem 0.63rem 2rem;
  /* margin-bottom: 7rem; */
}

.btn:active {
  background-color: #177c2a;
  color: #9ea9a0;
}

.converter__label {
  /* display: block; */
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.69rem;
  order: 0;
}

.converter__input {
  /* display: block; */
  background: rgba(57, 62, 70, 0.5);
  border-radius: 1rem;
  padding-left: 1.5rem;
  order: 1;

  color: #fff;
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.69rem;
  text-align: center;
}

.contact__input:focus {
  border: 3px solid #00adb5;
}

